header {
	background: $sgBlue url(i/bg-honeycomb.png);
	line-height: 1;
	margin: 0;
	padding: 0;
	text-shadow: rgba(0,0,0,.3) 1px 1px 1px;
	a{
		color: #fff;
	}
	h1 {
		font: normal 420%/1 $fontHeadings;
		margin: 0;
		padding: 1.5% 1.5% 0;
		text-transform: uppercase;
		a{
			color: #fff;
		}
	}
	p {
		color: #fff;
		font-size: 120%;
		font-weight: 100;
		margin: 0;
		padding: 0 1.5% 2%;
	}
	#announcement {
		background: rgba(255,255,255,.1);
		color: rgba(255,255,255,1);
		line-height: 1;
		padding: 1.5%;
		text-shadow: rgba(0,0,0,.5) 0 1px 0;
		width: 100%;
		h3 {
			font-size: 120%;
			margin: 0 0 .25em;
			padding: 0;
		}
		p {
			font-size: 75%;
			margin: 0;
			padding: 0;
		}
		em {
			color: #ffe100;
		}
	}
}
